{{!-- https://staticshop.o2.co.uk/product/images/iphone5s-spacegrey-front-header.png --}}
<img
  local-class="image"
  src="images/iphone5s-spacegrey-front-header.png"
/>
<div>
  {{product.name}}
</div>