<h2>An Ember.js VR shopping experiment</h2>

<div><LinkTo @route="no-vr">Without VR</LinkTo></div>
<div><LinkTo @route="vr">With VR</LinkTo></div>

{{fork-me "https://github.com/ember-vr/ember-vr-shopping"}}