<div><LinkTo @route="index">Back</LinkTo></div>

<NoVr::StoreComponent
  @products={{this.products}}
  @addToCart={{route-action "addToCart" this.cart}}
/>

<NoVr::CartComponent
  @cart={{this.cart}}
/>